body {
    margin: 0px;
    background-color: #F7A8B8;
}

/* Start header */

header,
.pane1,
.pane4,
footer {
    color: #F9FAF8;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 100px;
    padding-right: 100px;
    height: 50px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    flex-shrink: 0;
}

ul {
    display: flex;
    list-style: none;
    gap: 20px;
    flex-shrink: 0;
}

ul a {
    color: #F9FAF8;
    text-decoration: none;
}

/* End header */

/* Start hero */

.hero {
    display: flex;
    flex-direction: column;
}

.pane1,
.pane2,
.pane3 {
    flex: 1 0 450px;
}

/* Start pane1 */

.pane1 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 100px;
    padding-right: 100px;
}

.left-box,
.right-box {
    width: 400px;
    flex-shrink: 0;
}

.title {
    font-size: 48px;
    font-weight: bold;
}

button {
    margin-top: 10px;
    background-color:#F7A8B8;
    color: #F9FAF8;
    border-radius: 10px;
    border:2px #F9FAF8;
    border-style: solid;
    padding: 10px 30px;
    transition-duration: 0.4s;
    font-weight: 700;
}

button:hover {
    background-color:#9AC9A3;
    color: #F9FAF8;
  }

.right-box {
    display: flex;
    justify-content: flex-end;
}

.right-box img {
   height: 200px;
   border-radius: 10px;
}

/* End pane1 */
/* Start pane2 */

.pane2 {
    background-color: #F9FAF8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 60px;
}

.title2 {
    font-size: 36px;
    font-weight: bolder;
}

.boxes {
    display: flex;
    align-items: baseline;
    gap: 40px;
    align-content: center;
}

.box-text {
    width: 150px;
    display: flex;
    flex-direction: column;
    font-weight: 300;
    text-align: center;
    gap: 10px;
}

.box img {
    height: 150px;
    width: 150px;
    border: 4px #F4E26A;
    border-style: solid;
    border-radius: 10px;
}

/* End pane2 */
/* Start pane3 */

.pane3 {
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.quote {
    width: 720px;
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    display: flex;
    flex-direction: column;
}

.author {
    width: 720px;
    font-size: 18px;
    font-weight: 900;
    text-align: right;
}

/* End pane3 */
/* Start pane4 */

.pane4 {
    background-color: #F9FAF8;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 350px;
}

.blue-box {
    width: 800px;
    height: 150px;
    background-color: #9AC9A3;
    border-radius: 10px;
    border-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.blue-title {
    font-size: 20px;
    font-weight: 700;
}

.right-side button {
    margin-top: 10px;
    background-color: #9AC9A3;
    color: #F9FAF8;
    border-radius: 10px;
    border:2px #F9FAF8;
    border-style: solid;
    padding: 10px 30px;
    transition-duration: 0.4s;
    font font-weight: 700;
}

.right-side button:hover {
    background-color:#F7A8B8;
    color: #F9FAF8;
  }

/* End pane4 */
/* Start footer */

footer {
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0 0 80px;
}

/* End footer */